@model AutomotiveSols.BLL.ViewModels.CarAppointmentVM

@{ ViewData["Title"] = "AppointmentConfirmation"; }

<br />
<h2 class="text-info">Appointment Confirmation</h2>
<div class="form-text">
    Your request for the appointment has been submitted. One of our awesome Sales Representative would be in touch shortly. Please feel free to contact us anytime you have any questions.
</div>
<br />

<partial name="~/Views/Shared/_AppointmentCustDetails.cshtml" model="Model.Appointments" />
<br />

<partial name="~/Views/Shared/_AppointmentServiceDetails.cshtml" model="Model.Cars" />

<a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-success"> Back to Products</a>

